h1= title

fieldset
  legend AMQP Messaging Example
  label
    Message:
    input(type="text", name="message")
  button(id="send") Send
  

fieldset
  legend Received Messages
  pre(id="console")  
  
